<div *ngIf="manager" class="col-md-4" >
  <div>
    <h4>Manager Details:</h4>
    <p class="list-group-item">
      ID: {{manager.id}} >>> Name: {{manager.name}}
    </p>
  </div>
  <br>
  <div>
    <h4>Orders produced:</h4>
    <ol class="list-group">
      <li *ngFor="let order of orders | async" class="list-group-item justify-content-between">
        ID: {{order.id}} >>> Product: {{order.product}}
        <span class="badge badge-default badge-pill">{{order.qty}} pcs</span>
      </li>
    </ol>
  </div>
</div>