<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['managers']">Managers CRM</a>
            
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li routerLinkActive="active">
                    <a [routerLink]="['new-order']">
                        <span class='glyphicon glyphicon-plus-sign'></span>New Order
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['orders']">
                        <span class='glyphicon glyphicon-shopping-cart'></span> Orders
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['managers']">
                        <span class='glyphicon glyphicon-user'></span> Managers
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>