<div class='container-fluid'>
  <div class='row'>
      <div class='col-sm-3'>
          <nav-menu></nav-menu>
      </div>
      <div [ngClass] = "'parent-container'">	
        <router-outlet></router-outlet>	
      </div>
  </div>
</div>