<div class="container col-md-3">

    <h4>Add order:</h4>
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
        <div class="form-group">
            <label for="product">Product</label>
            <input type="text" class="form-control" id="product" required 
            [(ngModel)]="order.product" name="product" #product="ngModel">
            <div [hidden]="product.valid || product.pristine" class="alert alert-danger">
                Product is required
            </div>
        </div>

        <div class="form-group" style="max-width: 120px">
            <label for="qty">Quantity</label>
            <input type="number" class="form-control" id="qty" 
            [(ngModel)]="order.qty" name="qty">
        </div>

        <div class="form-group">
            <label for="manager">Manager</label>
            <input type="text" class="form-control" id="manager" required
            [ngModel]="manager.name" name="manager" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Manager is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Add Order</button>
       
    </form>
</div>