<div class="col-md-4">
    <h4 >Managers List:</h4>
    <ol class="list-group">
        <li *ngFor="let manager of managers | async" class="list-group-item justify-content-between" 
            routerLinkActive='active' 
            [routerLink]="['/managers/list/view', manager.id]">
            {{manager.name}}
            <span class="badge badge-default badge-pill">
               ID:{{manager.id}}
            </span>
        </li>
    </ol>
</div>
<div [ngClass]="'sub-child-container'">
    <router-outlet></router-outlet>
</div>