<div class='container col-md-4' style="text-align: center">
    <h4>Orders List:</h4>
    <table class="table table-responsive table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th (click)="sort('id')">
                    <a>ID</a>
                </th>
                <th (click)="sort('product')">
                    <a>Product</a>
                </th>
                <th (click)="sort('qty')">
                    <a>Quantity</a>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders | async | orderBy: {property: column, direction: direction}">
                <td>{{order.id}}</td>
                <td>{{order.product}}</td>
                <td>{{order.qty}}</td>
                <td>
                    <button class="btn btn-xs btn-primary" (click)="delete(order)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>